<!DOCTYPE html>
<html>
  <head>
    <title><%= blocks.title %></title>
    <link rel='stylesheet' href='/css/app.css'/>
    <link rel='stylesheet' href='/vendor/bower_components/bootstrap/dist/css/bootstrap.css'/>
  </head>
  <body data-gr-c-s-loaded="true">
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/login"><%= blocks.signinStatus %></a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Node Chat</h3>
      </div>

      <div class="jumbotron">
        <h1>Node Chat Application</h1>
      </div>
    </div>
<script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
<script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
